streamlit==1.55.0
pandas>=2.0.0
linkml-runtime>=1.8.1,<1.10.0
linkml==1.8.7
networkx>=3.0
sympy>=1.10.0
matplotlib>=3.7.0
graphviz>=0.20.1
mistralai>=1.10.0
openai>=2.31.0
google-generativeai>=0.8.6
streamlit-agraph>=0.0.45
streamlit-ace>=0.1.1